@*<div style="text-align:center;">
    <SfSpinner Size="40" Label="Завантаження" Type="SpinnerType.Material" Visible="true"></SfSpinner>
</div>*@
<div style="text-align:center;">
    <div><small style="color: #777">Завантаження...</small></div>
    <span class="loader"></span>
</div>
@*
<style>
           
    .material .e-spinner-pane .e-spinner-inner .e-spin-bootstrap {
        fill: #e3165b;
    }
    .material .e-spinner-pane .e-spinner-inner .e-spin-bootstrap, .material .e-spinner-pane .e-spinner-inner .e-spin-bootstrap4, .material .e-spinner-pane .e-spinner-inner .e-spin-high-contrast .e-path-arc {
        stroke: #e3165b;
    }
    .e-spinner-pane .e-spinner-inner .e-spin-high-contrast .e-path-circle {
        stroke: none;
    }   
</style>*@